@use "../../styles/variables" as *;

.red-wave {
  position: absolute;

  top: 45%;
  left: 50%;

  width: 100%;
  height: 32%;

  background: $primary-gradient;

  mask-image: url("../../assets/svg/red-wave.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;

  -webkit-mask-image: url("../../assets/svg/red-wave.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;

  transform: translateX(-50%);

  pointer-events: none;
  user-select: none;
}